bin
obj
packages
*.user
.vs
.suo
*.xproj
project.json
*.pubxml
*.rar
*.ttf

CM.js
CM.Min.js
/CM.Javascript2/www/bridge.js
/CM.Javascript2/www/bridge.meta.js
/CM.Javascript2/www/bridge.meta.min.js
/CM.Javascript2/www/bridge.min.js
/CM.Server2/wwwroot/js/bridge.js
/CM.Server2/wwwroot/js/bridge.meta.js
/CM.Server2/wwwroot/js/bridge.meta.min.js
/CM.Server2/wwwroot/js/bridge.min.js
/CM.Server2/wwwroot/js/CMJS2.js
/CM.Server2/wwwroot/js/CMJS2.meta.js
/CM.Server2/wwwroot/js/CMJS2.meta.min.js
/CM.Server2/wwwroot/js/CMJS2.min.js
