@page "{country?}/{*region}"
@model CM.Server.StaticPageModel
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Civil Money";
}
<div id="loading"></div>
<script src="@CM.Server.ApiController.ResourceUrl("/js/webworkers.js")"></script>
<script src="/js/newtonsoft.json.min.js"></script>
<script src="@CM.Server.ApiController.ResourceUrl("/js/CMJS2.meta.js")"></script>
<script async src="@CM.Server.ApiController.ResourceUrl("/js/CMJS2.js")"></script>