@font-face {
  font-family: 'CivilMoney';
  font-style: normal;
  font-weight: 200;
  src: url(/font/BwSurco-Light.ttf) format("truetype"); }

@font-face {
  font-family: 'CivilMoney';
  font-style: normal;
  font-weight: 500;
  src: url(/font/BwSurco-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'CivilMoney';
  font-style: italic;
  font-weight: 500;
  src: url(/font/BwSurco-RegularItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'CivilMoney';
  font-style: normal;
  font-weight: 600;
  src: url(/font/BwSurco-Medium.ttf) format("truetype"); }

@font-face {
  font-family: 'CivilMoney';
  font-style: normal;
  font-weight: 700;
  src: url(/font/BwSurco-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'CivilMoney';
  font-style: normal;
  font-weight: 800;
  src: url(/font/BwSurco-Black.ttf) format("truetype"); }

body {
  background: #fff;
  color: #495465;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

* {
  font-family: 'CivilMoney',sans-serif;
  box-sizing: border-box;
  margin: 0; }

input, select, textarea {
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  background: transparent; }

button {
  background: #000;
  color: #fff;
  border: 0;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer; }

button + button {
  margin-left: 5px; }

.scrollhost {
  touch-action: none;
  overflow: hidden;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.noselect {
  pointer-events: none; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #5e6c82;
  opacity: 0.2; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5e6c82;
  opacity: 0.2; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5e6c82;
  opacity: 0.2; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5e6c82;
  opacity: 0.2; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5e6c82;
  opacity: 0.2; }

::placeholder {
  /* Most modern browsers support this now. */
  color: #5e6c82;
  opacity: 0.2; }

.in-progress {
  cursor: wait;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  -pie-background: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-repeat: repeat;
  -webkit-background-size: 20px 20px, 100% 100%;
  -moz-background-size: 20px 20px, 100% 100%;
  -ms-background-size: 20px 20px, 100% 100%;
  -o-background-size: 20px 20px, 100% 100%;
  background-size: 20px 20px, 100% 100%;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }

.in-progress-on-white {
  cursor: wait;
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  -pie-background: linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-repeat: repeat;
  -webkit-background-size: 20px 20px, 100% 100%;
  -moz-background-size: 20px 20px, 100% 100%;
  -ms-background-size: 20px 20px, 100% 100%;
  -o-background-size: 20px 20px, 100% 100%;
  background-size: 20px 20px, 100% 100%;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }

.onoff {
  position: relative;
  display: inline-block;
  min-height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .onoff label {
    display: block;
    cursor: pointer;
    margin: 0 0 0 15px !important;
    padding-left: 70px;
    line-height: 30px;
    outline: none; }
    .onoff label:before {
      position: absolute;
      content: " ";
      display: block;
      height: 30px;
      width: 60px;
      left: 0;
      top: -9px;
      border-radius: 22px;
      background-color: #fff;
      transition: background-color 0.1s ease-out;
      white-space: nowrap;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
      border: 1px solid #ccc; }
    .onoff label:after {
      box-shadow: 0 0 3px 0px #000;
      content: " ";
      display: block;
      width: 30px;
      height: 30px;
      margin: 0px;
      background-color: #fff;
      position: absolute;
      top: -9px;
      bottom: 0;
      left: 1px;
      border-radius: 1000px;
      transition: all 0.1s ease-out 0s; }
    .onoff label:hover:before, .onoff label:focus:before, .onoff label:active:before {
      border-color: #00BD70;
      box-shadow: 0 2px 3px 0 #eee; }
    .onoff label:hover:after, .onoff label:focus:after, .onoff label:active:after {
      border-color: #00BD70; }
  .onoff input[type=checkbox] {
    display: none; }
    .onoff input[type=checkbox]:checked + label {
      color: #495465;
      font-weight: bold; }
    .onoff input[type=checkbox]:checked + label:before {
      background-color: #00BD70; }
    .onoff input[type=checkbox]:checked + label, .onoff input[type=checkbox]:checked + label:after {
      border-color: #00BD70; }
    .onoff input[type=checkbox]:checked + label:after {
      left: 30px; }

form {
  color: #5e6c82; }
  form h2 {
    color: #495465;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 2em; }
  form h3 {
    font-weight: normal;
    font-size: 1.5em; }
  form p {
    line-height: 1.5em; }

.bt-gray {
  display: inline-block;
  color: #000;
  background: #dfe8f3;
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 30px;
  transition: transform ease-out 0.1s; }
  .bt-gray:hover, .bt-gray:active, .bt-gray:focus {
    transform: scale(1.1); }

.bt-green, .bt-orange, .bt-text {
  display: inline-block;
  color: #fff;
  font-weight: 900;
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 30px;
  transition: transform ease-out 0.1s; }
  .bt-green:hover, .bt-green:active, .bt-green:focus, .bt-orange:hover, .bt-orange:active, .bt-orange:focus, .bt-text:hover, .bt-text:active, .bt-text:focus {
    transform: scale(1.1); }

.bt-back {
  background-color: #495465;
  background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(255, 255, 255, 1)' d='M0.3,7.9l7.8-7.8C8.3,0,8.6,0,8.8,0.1l2.1,2.1c0.2,0.2,0.2,0.5,0,0.7L7.2,6.6h15.2 c0.6,0,1,0.4,1,1v2c0,0.6-0.4,1-1,1H7.2l3.6,3.6c0.2,0.2,0.2,0.5,0,0.7l-2.1,2.1c-0.2,0.2-0.5,0.2-0.7,0L0.3,9.3 C-0.1,8.9-0.1,8.3,0.3,7.9z'/%3e%3c/svg%3e");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  cursor: pointer; }

.bt-text {
  color: #000;
  margin-left: 5px;
  font-weight: normal; }

.bt-green {
  background: #00bd70; }

.bt-orange {
  background: #d34734; }

@page {
  size: A4;
  margin: 20% 10%; }

.general-page {
  color: #495465;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  overflow-y: auto;
  line-height: 1.5em; }
  .general-page .logo {
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 20px;
    color: #ffffff;
    position: fixed;
    top: 30px;
    left: 0;
    text-decoration: none;
    background: #495465;
    display: inline-block;
    padding: 10px 15px 10px 30px;
    transition: transform ease-out 0.1s; }
    .general-page .logo:hover, .general-page .logo:active, .general-page .logo:focus {
      transform: scale(1.1); }
    @media print {
      .general-page .logo {
        display: none; } }
  .general-page h1 {
    margin: 60px 0;
    font-weight: 900;
    font-size: 3em;
    line-height: 1em; }
  .general-page h2 {
    margin: 60px 0 30px 0;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 1em; }
  .general-page h3 {
    margin: 30px 0 15px 0; }
  .general-page blockquote {
    padding-left: 15px;
    margin: 30px 0;
    font-style: italic;
    border-left: 5px solid; }
  .general-page ol, .general-page ul {
    margin: 30px 0; }
  .general-page li {
    padding-bottom: 15px; }
  .general-page p {
    margin: 0 0 30px;
    text-align: justify;
    -webkit-column-break-inside: avoid; }
  .general-page dt {
    font-weight: 900; }
  .general-page dd {
    padding-bottom: 15px; }

.instructions {
  line-height: 1.5em;
  padding: 15px 0; }

.skill-edit {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  display: flex; }
  .skill-edit input {
    flex: 1 1 auto;
    margin-left: 15px; }

.progress {
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto; }

.amount {
  display: inline-block;
  line-height: 1em; }
  .amount > span:nth-child(1) {
    font-size: 0.6em;
    font-weight: 800;
    letter-spacing: -0.03em;
    vertical-align: super; }
  .amount > span:nth-child(2) {
    font-weight: 800;
    letter-spacing: -0.03em;
    font-size: 1.25em; }
  .amount > span:nth-child(3) {
    font-size: 0.5em;
    font-weight: 800;
    letter-spacing: -0.03em;
    vertical-align: super;
    position: relative; }
    .amount > span:nth-child(3) > span:nth-child(2) {
      position: absolute;
      top: 1em;
      left: 0.2em;
      font-size: 0.5em;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0px;
      color: #000 !important; }

.field-prog {
  background: #495465;
  -webkit-animation: pulse 2s ease-out infinite;
  -moz-animation: pulse 2s ease-out infinite;
  -ms-animation: pulse 2s ease-out infinite;
  -o-animation: pulse 2s ease-out infinite;
  animation: pulse 2s ease-out infinite;
  animation-direction: alternate; }

@-webkit-keyframes pulse {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes pulse {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes pulse {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .field-prog.ok {
    background: #fff;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none; }
  .field-prog.not-found {
    box-shadow: 0 -4px 10px #d34734;
    background: #d34734; }

.list-row {
  display: flex;
  align-items: center;
  min-height: 100px; }
  .list-row .date {
    flex: 1 1 auto;
    text-align: right;
    padding-right: 15px;
    width: 50%;
    position: relative; }
    .list-row .date .ch {
      margin: 0 5px 0 0; }

@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

@-moz-keyframes rotate {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

@keyframes rotate {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
  .list-row .error {
    position: absolute;
    top: 15px;
    background-color: #cc0000;
    color: #fff;
    padding: 5px 15px;
    border-radius: 100px;
    font-weight: bold;
    white-space: nowrap; }
  .list-row .wait {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg width='24' height='26.5' viewBox='0 0 24 26.5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M20.5,6.1c2.2,2.2,3.5,5.1,3.5,8.4c0,6.8-5.6,12.3-12.5,12C5.1,26.3-0.1,20.8,0,14.4 C0.1,8.2,4.9,3.1,11,2.6V0.5c0-0.4,0.5-0.6,0.8-0.4l5.1,3.5c0.3,0.2,0.3,0.6,0,0.8L11.8,8C11.5,8.2,11,8,11,7.6v-2 c-4.5,0.5-8,4.3-8,8.9c0,5,4.2,9.1,9.3,9c4.9-0.1,8.9-4.4,8.7-9.3c-0.1-2.5-1.2-4.7-2.8-6.2c-0.2-0.2-0.2-0.6,0-0.8l1.7-1.2 C20.1,5.9,20.3,5.9,20.5,6.1z'/%3e%3c/svg%3e");
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    -ms-animation: rotate 2s linear infinite;
    -o-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite; }
  .list-row .dir {
    flex: 0 0 auto;
    width: 32px;
    background-image: url("data:image/svg+xml,%3csvg width='1' height='1' viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 0.5)' d='M0,0 1,0 1,1 0,1 z'/%3e%3c/svg%3e");
    background-size: 1px;
    background-position: center;
    background-repeat: repeat-y;
    align-self: stretch;
    position: relative; }
    .list-row .dir a {
      display: block;
      width: 32px;
      height: 32px;
      border: 3px solid #fff;
      border-radius: 100px;
      position: absolute;
      margin-top: -16px;
      background-color: #fff;
      background-size: 16px;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      transition: transform ease-out 0.1s; }
      .list-row .dir a:hover, .list-row .dir a:active, .list-row .dir a:focus {
        transform: scale(1.1);
        box-shadow: 0 0 10px -5px #1475dd;
        border-color: #1475dd; }
  .list-row.out .dir a {
    background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M23.1,9.3l-7.8,7.8c-0.2,0.2-0.5,0.2-0.7,0L12.5,15c-0.2-0.2-0.2-0.5,0-0.7l3.6-3.6H1 c-0.6,0-1-0.4-1-1v-2c0-0.6,0.4-1,1-1h15.2L12.5,3c-0.2-0.2-0.2-0.5,0-0.7l2.1-2.1c0.2-0.2,0.5-0.2,0.7,0l7.8,7.8 C23.5,8.3,23.5,8.9,23.1,9.3z'/%3e%3c/svg%3e"); }
  .list-row.in .dir a {
    background-color: #00bd70;
    background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(255, 255, 255, 1)' d='M0.3,7.9l7.8-7.8C8.3,0,8.6,0,8.8,0.1l2.1,2.1c0.2,0.2,0.2,0.5,0,0.7L7.2,6.6h15.2 c0.6,0,1,0.4,1,1v2c0,0.6-0.4,1-1,1H7.2l3.6,3.6c0.2,0.2,0.2,0.5,0,0.7l-2.1,2.1c-0.2,0.2-0.5,0.2-0.7,0L0.3,9.3 C-0.1,8.9-0.1,8.3,0.3,7.9z'/%3e%3c/svg%3e"); }
    .list-row.in .dir a:hover, .list-row.in .dir a:active, .list-row.in .dir a:focus {
      border-color: #00bd70;
      box-shadow: 0 0 10px -5px #00bd70; }
  .list-row.in.pending .dir a {
    background-color: #fff;
    border-color: #00bd70;
    background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(0, 189, 112, 1)' d='M0.3,7.9l7.8-7.8C8.3,0,8.6,0,8.8,0.1l2.1,2.1c0.2,0.2,0.2,0.5,0,0.7L7.2,6.6h15.2 c0.6,0,1,0.4,1,1v2c0,0.6-0.4,1-1,1H7.2l3.6,3.6c0.2,0.2,0.2,0.5,0,0.7l-2.1,2.1c-0.2,0.2-0.5,0.2-0.7,0L0.3,9.3 C-0.1,8.9-0.1,8.3,0.3,7.9z'/%3e%3c/svg%3e"); }
  .list-row.dispute .dir a {
    background-image: url("data:image/svg+xml,%3csvg width='23.6' height='20.7' viewBox='0 0 23.6 20.7' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M10.9,14.9l-1.9,3.6C4.5,14.2,0,10.7,0,6.6c0-5,6.2-8.7,10.3-5.2L8.4,4C8,4.4,8.1,5.1,8.5,5.5l3.2,3.2 L9,11.3c-0.4,0.4-0.4,1.2,0,1.6L10.9,14.9z M13.1,1.6l-2.2,3l3.3,3.3c0.4,0.4,0.4,1.2,0,1.6l-2.7,2.7l1.7,1.7 c0.4,0.4,0.4,0.9,0.2,1.4l-2.7,5c0,0,0,0,0.1,0.1c0.6,0.6,1.6,0.6,2.2,0c4.8-5.2,10.7-9,10.7-13.7C23.6,1.5,17.4-2.3,13.1,1.6z'/%3e%3c/svg%3e"); }
    .list-row.dispute .dir a:hover, .list-row.dispute .dir a:active, .list-row.dispute .dir a:focus {
      box-shadow: 0 0 10px -5px #1475dd;
      border-color: #1475dd; }
  .list-row.cancel .amount > span:nth-child(1) {
    opacity: 0.25; }
  .list-row.cancel .amount > span:nth-child(2) {
    opacity: 0.25; }
  .list-row.cancel .amount > span:nth-child(3) > span:nth-child(1) {
    opacity: 0.25; }
  .list-row.cancel .dir a {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg width='22' height='6' viewBox='0 0 22 6' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M22,3c0,1.7-1.3,3-3,3s-3-1.3-3-3s1.3-3,3-3S22,1.3,22,3z M11,0C9.3,0,8,1.3,8,3s1.3,3,3,3s3-1.3,3-3 S12.7,0,11,0z M3,0C1.3,0,0,1.3,0,3s1.3,3,3,3s3-1.3,3-3S4.7,0,3,0z'/%3e%3c/svg%3e"); }
    .list-row.cancel .dir a:hover, .list-row.cancel .dir a:active, .list-row.cancel .dir a:focus {
      box-shadow: 0 0 10px -5px #1475dd;
      border-color: #1475dd; }
  .list-row .sum {
    flex: 1 1 auto;
    padding-left: 15px;
    width: 50%; }
    .list-row .sum .person {
      position: relative;
      z-index: 1; }
      .list-row .sum .person a {
        color: #495465;
        text-decoration: none; }
        .list-row .sum .person a:hover, .list-row .sum .person a:active, .list-row .sum .person a:focus {
          text-decoration: underline; }
    .list-row .sum .amount {
      font-size: 48px;
      margin-top: -0.2em; }

.trans-info {
  padding-bottom: 60px; }
  .trans-info .code {
    text-align: center; }
  .trans-info .head {
    font-size: 48px;
    text-align: center; }
  .trans-info .memo {
    text-align: center;
    padding: 15px; }
  .trans-info .people {
    display: flex;
    position: relative; }
    .trans-info .people .left {
      width: 50%;
      flex: 1 1 auto;
      text-align: right; }
    .trans-info .people .arrow {
      width: 60px;
      height: 32px;
      background-color: #fff;
      background-size: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M23.1,9.3l-7.8,7.8c-0.2,0.2-0.5,0.2-0.7,0L12.5,15c-0.2-0.2-0.2-0.5,0-0.7l3.6-3.6H1 c-0.6,0-1-0.4-1-1v-2c0-0.6,0.4-1,1-1h15.2L12.5,3c-0.2-0.2-0.2-0.5,0-0.7l2.1-2.1c0.2-0.2,0.5-0.2,0.7,0l7.8,7.8 C23.5,8.3,23.5,8.9,23.1,9.3z'/%3e%3c/svg%3e");
      margin-top: 15px; }
    .trans-info .people .id {
      padding-bottom: 30px; }
      .trans-info .people .id a {
        font-weight: 900;
        font-size: 1.5em;
        color: #495465;
        text-decoration: none; }
        .trans-info .people .id a:hover, .trans-info .people .id a:active, .trans-info .people .id a:focus {
          text-decoration: underline; }
    .trans-info .people .right {
      width: 50%;
      flex: 1 1 auto;
      text-align: left; }
    .trans-info .people button {
      margin-top: 1em; }
  .trans-info .list-row {
    text-align: left; }

.account-info .rep {
  font-size: 2em; }

.account-info .standing {
  padding-bottom: 30px;
  font-size: 0.8em; }

.account-info .bal {
  font-size: 1.5em;
  padding: 15px; }

.account-info .region {
  padding-bottom: 2em; }

.account-info .skills {
  white-space: pre-wrap;
  font-size: 0.8em;
  line-height: 1.5em; }

.account-info .standing > div {
  display: inline-block; }

.account-info .warning {
  background: #cc0000;
  color: #fff;
  padding: 15px; }

.account-info .authority {
  font-weight: bold;
  padding: 15px; }

.pill {
  background-color: #495465;
  color: #fff;
  padding: 5px 15px;
  border-radius: 100px;
  font-weight: bold;
  white-space: nowrap; }

.honour-code li {
  padding-bottom: 30px; }

#loading {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  background: #495465;
  cursor: wait;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  -pie-background: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-repeat: repeat;
  -webkit-background-size: 20px 20px, 100% 100%;
  -moz-background-size: 20px 20px, 100% 100%;
  -ms-background-size: 20px 20px, 100% 100%;
  -o-background-size: 20px 20px, 100% 100%;
  background-size: 20px 20px, 100% 100%;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  border-radius: 100px;
  position: absolute; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 0; } }
