
@font-face {
    font-family: 'CivilMoney';
    font-style: normal;
    font-weight: 200;
    src: url(/font/BwSurco-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'CivilMoney';
    font-style: normal;
    font-weight: 500;
    src: url(/font/BwSurco-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'CivilMoney';
    font-style: italic;
    font-weight: 500;
    src: url(/font/BwSurco-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'CivilMoney';
    font-style: normal;
    font-weight: 600;
    src: url(/font/BwSurco-Medium.ttf) format('truetype');
}


@font-face {
    font-family: 'CivilMoney';
    font-style: normal;
    font-weight: 700;
    src: url(/font/BwSurco-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CivilMoney';
    font-style: normal;
    font-weight: 800;
    src: url(/font/BwSurco-Black.ttf) format('truetype');
}

$light-stripe: rgba(255, 255, 255, 0.15);
$dark-stripe: rgba(0, 0, 0, 0.05);
$transparent: rgba(255,255,255,0); // for FF
$dark-text: #495465;
$light-text: #5e6c82;
$green: #00bd70;
$orange: #d34734;
$device-size-md: 576px;
$device-size-md2: 767px;
$device-size-md3: 992px;
$device-size-lg: 1200px;

body {
    background: #fff;
    color: $dark-text;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed; // block ios scrolling on touch
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

* {
    font-family: 'CivilMoney',sans-serif;
    box-sizing: border-box;
    margin: 0;
}

input, select, textarea {
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1em;
    background: transparent;
}

button {
    background: #000;
    color: #fff;
    border: 0;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
}

button + button {
    margin-left: 5px;
}

.scrollhost {
    touch-action: none;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.noselect {
    pointer-events: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $light-text;
    opacity: 0.2;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $light-text;
    opacity: 0.2;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $light-text;
    opacity: 0.2;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $light-text;
    opacity: 0.2;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $light-text;
    opacity: 0.2;
}

::placeholder { /* Most modern browsers support this now. */
    color: $light-text;
    opacity: 0.2;
}

@mixin button-progress-animate($stripe) {

    $size: 20px;


    @-webkit-keyframes progress-bar-stripes {
        from {
            background-position: 0 0;
        }

        to {
            background-position: $size 0;
        }
    }

    @-moz-keyframes progress-bar-stripes {
        from {
            background-position: 0 0;
        }

        to {
            background-position: $size 0;
        }
    }

    @keyframes progress-bar-stripes {
        from {
            background-position: 0 0;
        }

        to {
            background-position: $size 0;
        }
    }

    cursor: wait;
    $degrees: -45deg;
    background-image: -webkit-linear-gradient($degrees, $stripe 25%, $transparent 25%, $transparent 50%, $stripe 50%, $stripe 75%, $transparent 75%, $transparent);
    background-image: -moz-linear-gradient($degrees, $stripe 25%, $transparent 25%, $transparent 50%, $stripe 50%, $stripe 75%, $transparent 75%, $transparent);
    background-image: -ms-linear-gradient($degrees, $stripe 25%, $transparent 25%, $transparent 50%, $stripe 50%, $stripe 75%, $transparent 75%, $transparent);
    background-image: -o-linear-gradient($degrees, $stripe 25%, $transparent 25%, $transparent 50%, $stripe 50%, $stripe 75%, $transparent 75%, $transparent);
    background-image: linear-gradient($degrees, $stripe 25%, $transparent 25%, $transparent 50%, $stripe 50%, $stripe 75%, $transparent 75%, $transparent);
    -pie-background: linear-gradient($degrees, $stripe 25%, $transparent 25%, $transparent 50%, $stripe 50%, $stripe 75%, $transparent 75%, $transparent);
    background-repeat: repeat;
    -webkit-background-size: $size $size, 100% 100%;
    -moz-background-size: $size $size, 100% 100%;
    -ms-background-size: $size $size, 100% 100%;
    -o-background-size: $size $size, 100% 100%;
    background-size: $size $size, 100% 100%;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.in-progress {
    @include button-progress-animate(rgba(255,255,255,0.1));
}

.in-progress-on-white {
    @include button-progress-animate(rgba(0,0,0,0.1));
}

.onoff {
    $size: 30px;
    $oncolour: #00BD70;
    position: relative;
    display: inline-block;
    min-height: $size;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    label {
        display: block;
        cursor: pointer;
        margin: 0 0 0 15px !important;
        padding-left: $size * 2 + 10px;
        line-height: $size;
        outline: none;

        &:before {
            position: absolute;
            content: " ";
            display: block;
            height: $size;
            width: $size * 2;
            left: 0;
            top: -9px;
            border-radius: 22px;
            background-color: #fff;
            transition: background-color 0.1s ease-out;
            white-space: nowrap;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
            border: 1px solid #ccc;
        }

        &:after {
            box-shadow: 0 0 3px 0px #000;
            content: " ";
            display: block;
            width: $size;
            height: $size;
            margin: 0px;
            background-color: #fff;
            position: absolute;
            top: -9px;
            bottom: 0;
            left: 1px;
            border-radius: 1000px;
            transition: all 0.1s ease-out 0s;
        }


        &:hover, &:focus, &:active {
            &:before {
                border-color: $oncolour;
                box-shadow: 0 2px 3px 0 #eee;
            }

            &:after {
                border-color: $oncolour;
            }
        }
    }

    input[type=checkbox] {
        display: none;

        &:checked + label {
            color: rgb(73, 84, 101);
            font-weight: bold;
        }

        &:checked + label:before {
            background-color: $oncolour;
        }

        &:checked + label, &:checked + label:after {
            border-color: $oncolour;
        }

        &:checked + label:after {
            left: $size;
        }
    }
}


form {
    color: $light-text;

    h2 {
        color: $dark-text;
        font-weight: 900;
        letter-spacing: -2px;
        font-size: 2em;
    }

    h3 {
        font-weight: normal;
        font-size: 1.5em;
    }

    p {
        line-height: 1.5em;
    }
}


.bt-gray {
    display: inline-block;
    color: #000;
    background: #dfe8f3;
    border-radius: 100px;
    text-decoration: none;
    padding: 10px 30px;
    transition: transform ease-out 0.1s;

    &:hover, &:active, &:focus {
        transform: scale(1.1);
    }
}

.bt-green, .bt-orange, .bt-text {
    display: inline-block;
    color: #fff;
    font-weight: 900;
    border-radius: 100px;
    text-decoration: none;
    padding: 10px 30px;
    transition: transform ease-out 0.1s;

    &:hover, &:active, &:focus {
        transform: scale(1.1);
    }
}

.bt-back {
    background-color: $dark-text;
    background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(255, 255, 255, 1)' d='M0.3,7.9l7.8-7.8C8.3,0,8.6,0,8.8,0.1l2.1,2.1c0.2,0.2,0.2,0.5,0,0.7L7.2,6.6h15.2 c0.6,0,1,0.4,1,1v2c0,0.6-0.4,1-1,1H7.2l3.6,3.6c0.2,0.2,0.2,0.5,0,0.7l-2.1,2.1c-0.2,0.2-0.5,0.2-0.7,0L0.3,9.3 C-0.1,8.9-0.1,8.3,0.3,7.9z'/%3e%3c/svg%3e");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    cursor: pointer;
}

.bt-text {
    color: #000;
    margin-left: 5px;
    font-weight: normal;
}

.bt-green {
    background: $green;
}

.bt-orange {
    background: $orange;
}

@page {
    size: A4;
    margin: 20% 10%;
}

.general-page {
    color: $dark-text;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    overflow-y: auto;
    line-height: 1.5em;

    .logo {
        font-weight: 900;
        letter-spacing: -1px;
        font-size: 20px;
        color: #ffffff;
        position: fixed;
        top: 30px;
        left: 0;
        text-decoration: none;
        background: #495465;
        display: inline-block;
        padding: 10px 15px 10px 30px;
        transition: transform ease-out 0.1s;

        &:hover, &:active, &:focus {
            transform: scale(1.1);
        }

        @media print {
            display:none;
        }
    }



    h1 {
        margin: 60px 0;
        font-weight: 900;
        font-size: 3em;
        line-height: 1em;
    }

    h2 {
        margin: 60px 0 30px 0;
        font-weight: 900;
        font-size: 2.5em;
        line-height: 1em;
    }

    h3 {
        margin: 30px 0 15px 0;
    }

    blockquote {
        padding-left: 15px;
        margin: 30px 0;
        font-style: italic;
        border-left: 5px solid;
    }

    ol, ul {
        margin: 30px 0;
    }

    li {
        padding-bottom: 15px;
    }

    p {
        margin: 0 0 30px;
        text-align: justify;
        -webkit-column-break-inside: avoid;
    }

    dt {
        font-weight: 900;
    }

    dd {
        padding-bottom: 15px;
    }
}

.instructions {
    line-height: 1.5em;
    padding: 15px 0;
}

.skill-edit {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    display: flex;

    input {
        flex: 1 1 auto;
        margin-left: 15px;
    }
}

.progress {
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}
// Amount formatting
.amount {
    display: inline-block;
    line-height: 1em;

    > span:nth-child(1) {
        font-size: 0.6em;
        font-weight: 800;
        letter-spacing: -0.03em;
        vertical-align: super;
    }

    > span:nth-child(2) {
        font-weight: 800;
        letter-spacing: -0.03em;
        font-size: 1.25em;
    }

    > span:nth-child(3) {
        font-size: 0.5em;
        font-weight: 800;
        letter-spacing: -0.03em;
        vertical-align: super;
        position: relative;

        > span:nth-child(2) {
            position: absolute;
            top: 1em;
            left: 0.2em;
            font-size: 0.5em;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 0px;
            color: #000 !important;
        }
    }
}

.field-prog {

    @-webkit-keyframes pulse {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes pulse {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes pulse {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    // box-shadow: 0 -4px 10px #00aefb;
    background: $dark-text; //#00aefb;
    -webkit-animation: pulse 2s ease-out infinite;
    -moz-animation: pulse 2s ease-out infinite;
    -ms-animation: pulse 2s ease-out infinite;
    -o-animation: pulse 2s ease-out infinite;
    animation: pulse 2s ease-out infinite;
    animation-direction: alternate;

    &.ok {
        //box-shadow: 0 -4px 10px $green;
        background: #fff; // $green;
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        -o-animation: none;
        animation: none;
    }

    &.not-found {
        box-shadow: 0 -4px 10px $orange;
        background: $orange;
    }
}

.list-row {
    display: flex;
    align-items: center;
    min-height: 100px;

    .date {
        flex: 1 1 auto;
        text-align: right;
        padding-right: 15px;
        width: 50%;
        position: relative;

        .ch {
            margin: 0 5px 0 0;
        }
    }

    @-webkit-keyframes rotate {
        from {
            transform: rotateZ(0deg);
        }

        to {
            transform: rotateZ(360deg);
        }
    }

    @-moz-keyframes rotate {
        from {
            transform: rotateZ(0deg);
        }

        to {
            transform: rotateZ(360deg);
        }
    }

    @keyframes rotate {
        from {
            transform: rotateZ(0deg);
        }

        to {
            transform: rotateZ(360deg);
        }
    }

    .error {
        position: absolute;
        top: 15px;
        background-color: #cc0000;
        color: #fff;
        padding: 5px 15px;
        border-radius: 100px;
        font-weight: bold;
        white-space: nowrap;
    }

    .wait {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3csvg width='24' height='26.5' viewBox='0 0 24 26.5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M20.5,6.1c2.2,2.2,3.5,5.1,3.5,8.4c0,6.8-5.6,12.3-12.5,12C5.1,26.3-0.1,20.8,0,14.4 C0.1,8.2,4.9,3.1,11,2.6V0.5c0-0.4,0.5-0.6,0.8-0.4l5.1,3.5c0.3,0.2,0.3,0.6,0,0.8L11.8,8C11.5,8.2,11,8,11,7.6v-2 c-4.5,0.5-8,4.3-8,8.9c0,5,4.2,9.1,9.3,9c4.9-0.1,8.9-4.4,8.7-9.3c-0.1-2.5-1.2-4.7-2.8-6.2c-0.2-0.2-0.2-0.6,0-0.8l1.7-1.2 C20.1,5.9,20.3,5.9,20.5,6.1z'/%3e%3c/svg%3e");
        -webkit-animation: rotate 2s linear infinite;
        -moz-animation: rotate 2s linear infinite;
        -ms-animation: rotate 2s linear infinite;
        -o-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
    }

    .dir {
        flex: 0 0 auto;
        width: 32px;
        background-image: url("data:image/svg+xml,%3csvg width='1' height='1' viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 0.5)' d='M0,0 1,0 1,1 0,1 z'/%3e%3c/svg%3e");
        background-size: 1px;
        background-position: center;
        background-repeat: repeat-y;
        align-self: stretch;
        position: relative;

        a {
            display: block;
            width: 32px;
            height: 32px;
            border: 3px solid #fff;
            border-radius: 100px;
            position: absolute;
            margin-top: -16px;
            background-color: #fff;
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            transition: transform ease-out 0.1s;

            &:hover, &:active, &:focus {
                transform: scale(1.1);
                box-shadow: 0 0 10px -5px #1475dd;
                border-color: #1475dd;
            }
        }
    }


    &.out {
        .dir a {
            background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M23.1,9.3l-7.8,7.8c-0.2,0.2-0.5,0.2-0.7,0L12.5,15c-0.2-0.2-0.2-0.5,0-0.7l3.6-3.6H1 c-0.6,0-1-0.4-1-1v-2c0-0.6,0.4-1,1-1h15.2L12.5,3c-0.2-0.2-0.2-0.5,0-0.7l2.1-2.1c0.2-0.2,0.5-0.2,0.7,0l7.8,7.8 C23.5,8.3,23.5,8.9,23.1,9.3z'/%3e%3c/svg%3e");
        }
    }

    &.in {
        .dir {


            a {
                background-color: $green; //rgba(0, 189, 112, 1)
                background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(255, 255, 255, 1)' d='M0.3,7.9l7.8-7.8C8.3,0,8.6,0,8.8,0.1l2.1,2.1c0.2,0.2,0.2,0.5,0,0.7L7.2,6.6h15.2 c0.6,0,1,0.4,1,1v2c0,0.6-0.4,1-1,1H7.2l3.6,3.6c0.2,0.2,0.2,0.5,0,0.7l-2.1,2.1c-0.2,0.2-0.5,0.2-0.7,0L0.3,9.3 C-0.1,8.9-0.1,8.3,0.3,7.9z'/%3e%3c/svg%3e");

                &:hover, &:active, &:focus {
                    border-color: $green;
                    box-shadow: 0 0 10px -5px $green;
                }
            }
        }

        &.pending {
            .dir {


                a {
                    background-color: #fff; //rgba(0, 189, 112, 1)
                    border-color: $green;
                    background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(0, 189, 112, 1)' d='M0.3,7.9l7.8-7.8C8.3,0,8.6,0,8.8,0.1l2.1,2.1c0.2,0.2,0.2,0.5,0,0.7L7.2,6.6h15.2 c0.6,0,1,0.4,1,1v2c0,0.6-0.4,1-1,1H7.2l3.6,3.6c0.2,0.2,0.2,0.5,0,0.7l-2.1,2.1c-0.2,0.2-0.5,0.2-0.7,0L0.3,9.3 C-0.1,8.9-0.1,8.3,0.3,7.9z'/%3e%3c/svg%3e");
                }
            }
        }
    }

    &.dispute {
        .dir a {
            background-image: url("data:image/svg+xml,%3csvg width='23.6' height='20.7' viewBox='0 0 23.6 20.7' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M10.9,14.9l-1.9,3.6C4.5,14.2,0,10.7,0,6.6c0-5,6.2-8.7,10.3-5.2L8.4,4C8,4.4,8.1,5.1,8.5,5.5l3.2,3.2 L9,11.3c-0.4,0.4-0.4,1.2,0,1.6L10.9,14.9z M13.1,1.6l-2.2,3l3.3,3.3c0.4,0.4,0.4,1.2,0,1.6l-2.7,2.7l1.7,1.7 c0.4,0.4,0.4,0.9,0.2,1.4l-2.7,5c0,0,0,0,0.1,0.1c0.6,0.6,1.6,0.6,2.2,0c4.8-5.2,10.7-9,10.7-13.7C23.6,1.5,17.4-2.3,13.1,1.6z'/%3e%3c/svg%3e");

            &:hover, &:active, &:focus {
                box-shadow: 0 0 10px -5px #1475dd;
                border-color: #1475dd;
            }
        }
    }

    &.cancel {
        .amount {
            > span:nth-child(1) {
                opacity: 0.25;
            }

            > span:nth-child(2) {
                opacity: 0.25;
            }

            > span:nth-child(3) {
                > span:nth-child(1) {
                    opacity: 0.25;
                }

                > span:nth-child(2) {
                }
            }
        }

        .dir {
            a {
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3csvg width='22' height='6' viewBox='0 0 22 6' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M22,3c0,1.7-1.3,3-3,3s-3-1.3-3-3s1.3-3,3-3S22,1.3,22,3z M11,0C9.3,0,8,1.3,8,3s1.3,3,3,3s3-1.3,3-3 S12.7,0,11,0z M3,0C1.3,0,0,1.3,0,3s1.3,3,3,3s3-1.3,3-3S4.7,0,3,0z'/%3e%3c/svg%3e");

                &:hover, &:active, &:focus {
                    box-shadow: 0 0 10px -5px #1475dd;
                    border-color: #1475dd;
                }
            }
        }
    }

    .sum {
        flex: 1 1 auto;
        padding-left: 15px;
        width: 50%;

        .person {
            position: relative;
            z-index: 1;

            a {
                color: $dark-text;
                text-decoration: none;

                &:hover, &:active, &:focus {
                    text-decoration: underline;
                }
            }
        }

        .amount {
            font-size: 48px;
            margin-top: -0.2em;
        }
    }
}

.trans-info {
    padding-bottom: 60px;

    .code {
        text-align: center;
    }

    .head {
        font-size: 48px;
        text-align: center;
    }

    .memo {
        text-align: center;
        padding: 15px;
    }

    .people {
        display: flex;
        position: relative;

        .left {
            width: 50%;
            flex: 1 1 auto;
            text-align: right;
        }

        .arrow {
            width: 60px;
            height: 32px;
            background-color: #fff;
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3csvg width='23.4' height='17.2' viewBox='0 0 23.4 17.2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='rgba(94, 108, 130, 1)' d='M23.1,9.3l-7.8,7.8c-0.2,0.2-0.5,0.2-0.7,0L12.5,15c-0.2-0.2-0.2-0.5,0-0.7l3.6-3.6H1 c-0.6,0-1-0.4-1-1v-2c0-0.6,0.4-1,1-1h15.2L12.5,3c-0.2-0.2-0.2-0.5,0-0.7l2.1-2.1c0.2-0.2,0.5-0.2,0.7,0l7.8,7.8 C23.5,8.3,23.5,8.9,23.1,9.3z'/%3e%3c/svg%3e");
            margin-top: 15px;
        }

        .status {
        }

        .id {
            a {
                font-weight: 900;
                font-size: 1.5em;
                color: $dark-text;
                text-decoration: none;

                &:hover, &:active, &:focus {
                    text-decoration: underline;
                }
            }

            padding-bottom: 30px;
        }

        .right {
            width: 50%;
            flex: 1 1 auto;
            text-align: left;
        }

        button {
            margin-top: 1em;
        }
    }

    .list-row {
        text-align: left;
    }
}

.account-info {
    .income {
    }

    .rep {
        font-size: 2em;
    }

    .standing {
        padding-bottom: 30px;
        font-size: 0.8em;
    }

    .bal {
        font-size: 1.5em;
        padding: 15px;
    }

    .region {
        padding-bottom: 2em;
    }

    .skills {
        white-space: pre-wrap;
        font-size: 0.8em;
        line-height: 1.5em;
    }

    .standing {
        > div {
            display: inline-block;
        }
    }

    .warning {
        background: #cc0000;
        color: #fff;
        padding: 15px;
    }

    .authority {
        font-weight: bold;
        padding: 15px;
    }
}

.pill {
    background-color: $dark-text;
    color: #fff;
    padding: 5px 15px;
    border-radius: 100px;
    font-weight: bold;
    white-space: nowrap;
}

.honour-code {
    li {
        padding-bottom: 30px;
    }
}
#loading {
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    background: $dark-text;
    @include button-progress-animate(rgba(255,255,255,0.1));
    border-radius: 100px;
    position: absolute;
}